<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Login Page</title>
</head>
<body>
       
       <h2> User Login Page</h2>

        <form th:action="@{/login}" method="POST">
         <pre>
                  EMAIL        : <input type="text" name="username" id="username"  required="required">
                  PASSWORD     : <input type="password" name="password" id="password" required="required">
         <input type="submit" value="Sign in">
         </pre>
        </form>

               <div th:if="${param.error}" class="card-footer bg-danger text-white">
				Username/Password Invalid.		
			</div>
			<div th:if="${param.logout}" class="card-footer bg-info text-white">
				User logged-out Succesfully!		
			</div>
</body>
</html>